:is(main > section, footer > section) {
  width: min(1200px, 100%);
}

.slider-image {
  position: relative;
  overflow: hidden;
}

.slider-image__body {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 1em;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  transition-duration: 300ms;
  opacity: 0;
  a {
    display: none;
  }
}
.slider-image.w-4\/5:hover .slider-image__body {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
  a {
    display: block;
  }
}

/*  */

a .animated-nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 2rem;
  gap: 1rem;
  overflow: hidden;
  font-weight: lighter;
}
a .animated-nav-link span {
  text-transform: uppercase;
  height: 100%;
  transition-duration: 400ms;
}
a:not(.active) .animated-nav-link > span:last-child {
  transform: rotate(20deg);
  text-decoration: underline;
  border-radius: 100vmax;
}
a:not(.active) .animated-nav-link:hover span {
  transform: translateY(calc(-100% - 1rem));
}

/*  */

@keyframes search {
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.search-bar {
  animation: search 300ms forwards linear;
}
